body {
  margin: 5%;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  color: darkmagenta;
  text-align: center;
  margin-bottom: 3%;
}

.entry-textbox {
  background-color: #ffa62b;
  padding: 2rem;
  width: 20rem;
  height: 10rem;
  margin-bottom: 0.5rem;
  border: unset;
  border-radius: 25px;
  outline: none;
}

.button {
  border-radius: 5px;
  padding: 5px;
  border: unset;
  margin-left: 76%;
  background-color: darkmagenta;
  color: azure;
}

#entries {
  background-color: darkmagenta;
  color: #ede7e3;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 25px;
  max-width: 20em;
  border: unset;
}
